@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?6s6d3k');
    src:    url('../fonts/icomoon.eot?6s6d3k#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?6s6d3k') format('truetype'),
        url('../fonts/icomoon.woff?6s6d3k') format('woff'),
        url('../fonts/icomoon.svg?6s6d3k#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-envelope:before {
    content: "\e900";
}
.icon-phone:before {
    content: "\e901";
}
.icon-menu:before {
    content: "\e902";
}
.icon-close:before {
    content: "\e903";
}

body{
  position: relative;
  margin: 0;
  top: 0;
  font-family: 'Open Sans', sans-serif;
  background-repeat: no-repeat;
}

header{
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3px;
}

h1{
  position:relative;
  margin: 0;
}

nav ul{
  display: flex;
}

nav li{
  list-style: none;
  margin: 10px;
}

nav a{
  color: white;
  text-decoration: none;
}

th {
  background: #273b47;
  color: white;
}

th {
  padding: 10px 20px;
  text-align: left;
}

td {
  padding: 20px;
}

table, td, th {
  border: 1px solid #273b47;
  border-collapse: collapse;
}

table{
  width: 100%;
}

.menu{
  font-size: 30px;
}

.portada{
  background-image: url('../images/vlateral1.jpg');
  background-size: cover;
  width: auto;
  /*height: 728px;*/
  min-height: 100vh;
  display:flex;
}

.frame {
  position: relative;
  width: auto;
  overflow: hidden;
  margin-left: 10px;
}

.button{
  text-decoration: none;
  color: black;
  background:rgba(255, 255, 255, 0.1);
  position: relative;
  margin: auto auto;
  padding: 5px;
  border-radius: 10px;
  font-size: 40px;
  font-weight: 800;
  transition: 2s;
  display: inline-block;
}

.button:active{
  transition: 1s;
  transform: scale(.8);
}

.button:hover{
  background: #E65100;
}

.footer {
  background: black;
}

.contacto {
  display: flex;
  margin: auto;
  width: 450px;
  flex-wrap:wrap;
  align-items: center;
}

.contacto img {
  padding-top: 10px;
  width: 400px;
  display: block;
}

.contacto strong {
  display: block;
}

.contacto a {
  color: white;
  text-decoration: none;
  margin: 10px 10px 10px 0;
}

.footer .contenedor {
  display: flex;
  justify-content:space-between;
}

.contenedor .formulario{
  display: flex;
  margin: auto;
  padding: 0;
  font-size: 20px;
  color: white;
}

div .button{
  color: white;
}

.burguer-button {
  width: 40px;
  border-radius: 50%;
  line-height: 40px;
  height: 40px;
  background: black;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  position: absolute;
  left: 1px;
  top: 1px;
  z-index: 4;
  display: none;
}

.slides img{
  width: 80%;
  position: relative;
  display: flex;
}

@media screen and (max-width: 800px){
  .tabla{
    margin: 50px 20px;
  }

  .tabla .contenedor{
    overflow: auto;
    border: 1px solid #273b47;
  }

  .portada{
    width: 100%;
    background-repeat: no-repeat;
  }

  .frame iframe {
    width: 100%;
    height: 100%;
  }

  .contacto{
    width: 300px;
    padding: 0;
  }

  .contacto img{
    width: 100%;
  }
}

@media screen and (max-width: 650px){
  header{
    display: block;
    text-align: center;
    justify-content: center;
  }

  .menu{
    display: block;
    position: static;
    font-size: 15px;
  }

  .menu ul{
    border: 0;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
  }

  .portada{
    background-size: auto;
  }

  .footer .contenedor{
    display: block;
    margin: 0 auto;
  }

  div .contacto{
    display: block;
    margin: 0 auto;
  }
}

@media screen and (max-width: 500px){
  .portada{
    margin: 10px;
    background-size:contain;
    height: 10px;
    min-height: 55vh;
  }

  .portada a{
    font-size: 30px;
    font-weight: 600;
  }

  .videoy {
    height:80%;
    margin: 10px;
  }

  /*.portada .contenedor {
    position: static;
  }*/

  .menu {
    background: rgba(0, 0, 0, .8);
    position: absolute;
    left: -100%;
    top: 0;
    z-index: 2;
    bottom: 0;
    right: 0;
    display: flex;
    width: 100%;
    align-items: center;
    transition: .3s;
  }
  .menu.active {
    left: 0;
  }

  .menu ul {
    font-size: 20px;
  }

  .burguer-button{
    display: block;
    background: white;
    left: 20px;
    top: 15px;
  }
}
