body{
  margin: 0;
  top: 0;
  font-family: 'Open Sans', sans-serif;
  background-repeat: no-repeat;
}

header{
  background: #2D2C2A;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul{
  display: flex;
}
nav li{
  list-style: none;
  margin: 10px;
}
nav a{
  color: white;
  text-decoration: none;
}

.portada{
  background-image: url('../images/vmina1.jpg');
  height: 728px;
  top: 0;
  display:grid;
}

.portada .contenedor .button{
  background:rgba(255, 255, 255, 0.1);
  color: white;
  position: absolute;
  bottom: 200px;
  left: 500px;
  padding: 20px;
  border-radius: 10px;
  font-size: 50px;
  font-weight: 800;
  transition: .3s;
}

.button:active{
  transform: scale(.9);
}

.portada .contenedor .button:hover{
  background: #1277BD;
}
.contenedor .titulo{
  color: white;
  font-size: 50px;
  padding-left: 10px;
}

.title-a{
  margin: 0 auto;
}
