body{
  margin: 0;
  top: 0;
  font-family: 'Open Sans', sans-serif;
  background-repeat: no-repeat;
}

header{
  background: #2D2C2A;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul{
  display: flex;
}
nav li{
  list-style: none;
  margin: 10px;
}
nav a{
  color: white;
  text-decoration: none;
}

.menu{
  font-size: 30px;
}

.portada{
  background-image: url('../images/vmina1.jpg');
  background-size: cover;
  width: auto;
  height: 728px;
  min-height: 100vh;
  display:flex;
}

.button{
  text-decoration: none;
  color: black;
  background:rgba(255, 255, 255, 0.1);
  position: relative;
  margin: auto auto;
  padding: 5px;
  border-radius: 10px;
  font-size: 40px;
  font-weight: 800;
  transition: 2s;
  display: inline-block;
}

.button:active{
  transition: 1s;
  transform: scale(.8);
}

.button:hover{
  background: #E65100;
}

.footer {
  background: #2D2C2A;
}

.contacto {
  display: flex;
  margin: auto;
  width: 450px;
  flex-wrap:wrap;
  align-items: center;
}

.contacto img {
  width: 400px;
  display: block;
}

.contacto strong {
  display: block;
}

.contacto a {
  color: white;
  text-decoration: none;
  margin: 10px 10px 10px 0;
}

.footer .contenedor {
  display: flex;
  justify-content:space-between;
}

.contenedor .formulario{
  display: flex;
  margin: auto;
  padding: 0;
  font-size: 20px;
  color: white;
}

@media screen and (max-width: 800px){
  .portada{
    background-size: contain;
    height: 320px;
  }

  .contacto{
    width: 300px;
    padding: 0;
  }
}

@media screen and (max-width: 650px){
  header{
    display: block;
    text-align: center;
    justify-content: center;
  }

  .menu{
    display: block;
    position: static;
    font-size: 15px;
  }

  .menu ul{
    border: 0;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
  }

  .portada{
    background-size: cover;
  }

  .footer .contenedor{
    display: block;
    margin: 0 auto;
  }

  div .contacto{
    display: block;
    margin: 0 auto;
  }

  .col1{
    margin-right: auto;
  }
}

@media screen and (max-width: 500px){
  .portada a{
    font-size: 30px;
    font-weight: 600;
  }
}
